.App {
  text-align: center;
}

.App h1 {
  padding: 32px;
}

nav {
  padding: 16px;
  background: #fa5252;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

nav a {
  color: #ffe3e3;
  text-decoration: none;
  text-transform: uppercase;
}

nav a.active,
nav a:hover {
  color: #fa5252;
  background: #ffe3e3;
  padding: 4px 8px;
}

.error {
  color: #fa5252;
  font-size: 32px;
  padding: 48px;
}

.products {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 16px;
}

input {
  padding: 4px 8px;
  font-size: 24px;
}

.products a {
  color: #fa5252;
  background: #ffe3e3;
  text-decoration: none;
  padding: 16px;
}

.products a.active {
  color: #ffe3e3;
  background-color: #fa5252;
}

button {
  padding: 16px;
  border-radius: 12px;
  text-transform: uppercase;
  background-color: #fa5252;
  color: #ffe3e3;
  margin: 16px;
  border: none;
  cursor: pointer;
}

p {
  line-height: 1.6;
  text-align: left;
  padding: 16px;
  margin-bottom: 24px;
}
